/** Responsive **/
@mixin text-border($c, $s: 2px) {
  // text-shadow: $s 0 0 $c, -$s 0 0 $c, 0 $s 0 $c, 0 -$s 0 $c, $s/2 $s/2 $c, -$s/2 -$s/2 0 $c, $s/2 -$s/2 0 $c, -$s/2 $s/2 0 $c;
  -webkit-text-stroke-width: $s;
  -webkit-text-stroke-color: $c;
  color: rgba(255,255,255,0);
}

@mixin no-text-border() {
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: $white;
}

@function image-width($ratio: 1) {
  // @return 0.786729858;
  @return 0.20229281768 * $ratio;
}

@function image-height($ratio: 1) {
  @return 0.517791411 * $ratio;
}

@mixin link-border {
  &::after {
    content:" ";
    width: 100%;
    height: 0.1rem;
    background: $brown;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  &:hover:after {
    animation: link-border 1s;
  }
}

@mixin image() {

}