/** Responsive **/
@mixin text-border($c, $s: 1px) {
  // text-shadow: $s 0 0 $c, -$s 0 0 $c, 0 $s 0 $c, 0 -$s 0 $c, $s/2 $s/2 $c, -$s/2 -$s/2 0 $c, $s/2 -$s/2 0 $c, -$s/2 $s/2 0 $c;
  -webkit-text-stroke-width: $s;
  -webkit-text-stroke-color: $c;
  color: rgba(255,255,255,0);
}

@mixin no-text-border() {
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: $white;
}

@mixin image-rotated() {
  width: 30vw;
  height: 45vw;
  max-height:70vh;
  max-width: 50vh;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  transform-origin: center center;
  transform: rotate(10deg);
  pointer-events: none;
  transition: transform .75s $cbezier1;
  img {
    position: absolute;
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
  }
}