/** Responsive **/
@mixin text-border($color, $size: 1px) {
  // text-shadow: 1px 0 0 $color, -1px 0 0 $color, 0 1px 0 $color, 0 -1px 0 $color, 0.5px 0.5px $color, -0.5px -0.5px 0 $color, 0.5px -0.5px 0 $color, -0.5px 0.5px 0 $color;
  -webkit-text-stroke-width: $size;
  -webkit-text-stroke-color: $color;
  color: transparent;
}