/** Font references **/
$ft-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/** Colors **/
$black: #000;
$white: #fff;

$cbezier1: cubic-bezier(.59,.01,.4,.98);
$easing: .75s;

/** Size **/
$desktop-size: 1440px;
$desktop-m-size: 1375px;
$desktop-s-size: 1080px;
$desktop-xs-size: 900px;
$phone-size: 720px;
$phone-s-size: 320px;
$desktop-padding: 70px;


$brown: #c5b8ab;
$greige: #dad3cb;
$grey-light: #f4f3f2;
$grey: #e2e2e2;

$about-background: #e8e5e3;
$about-title: $brown;
$about-text: #d7cfc7;

$title-hover: #f4eee9;

$title-height: 8.3vw;

$font-directory: '/app/themes/portfolio/resources/assets/fonts/';
$font-title: 'monument';
$font-regular: 'helvetica-regular';
$font-bold: 'helvetica-bold';

$image: (
  rotation: 10deg,
  translate: calc(100vh - #{image-height(0.5)})
);

/** Size **/
$breakpoints: (
  max-width: 1600px,
  widescreen: 1280px,
  desktop: 1000px,
  phone: 768px,
  phone-s: 500px,
  phone-xs: 360px,
);
