/** Font references **/
$ft-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/** Colors **/
$black: #000;
$white: #fff;

$cbezier1: cubic-bezier(.59,.01,.4,.98);

/** Size **/
$desktop-size: 1440px;
$desktop-m-size: 1375px;
$desktop-s-size: 1080px;
$desktop-xs-size: 900px;
$phone-size: 720px;
$phone-s-size: 320px;
$desktop-padding: 70px;

$greige: #dad3cb;
$brown: #c5b8ac;
$grey-light: #f4f3f2;
$grey: #e2e2e2;
$title-hover: #f4eee9;


$title-height: 12.2vw;

$font-directory: '/app/themes/portfolio/resources/assets/fonts/';
$font-title: 'monument';
$font-regular: 'helvetica-regular';
$font-bold: 'helvetica-bold';
