.container {
  max-width: $desktop-s-size;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  margin: 0;
  position: relative;
  width: 100%;
}

.is-centered-container {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 1;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.is-relative {
  position: relative;
}