@font-face {
  font-family: $font-title;
  src: url($font-directory + 'monument/monumentextended-regular-webfont.woff2') format('woff2'), url($font-directory + 'monumentextended-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font-title;
  src: url($font-directory + 'monument/monumentextended-ultrabold-webfont.woff2') format('woff2'),
  url($font-directory + 'monument/monumentextended-ultrabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: $font-regular;
  src: url($font-directory + 'helvetica/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
      url($font-directory + 'helvetica/HelveticaNeueLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font-regular;
  src: url($font-directory + 'helvetica/HelveticaNeueLTStd-BdExO.woff2') format('woff2'),
      url($font-directory + 'helvetica/HelveticaNeueLTStd-BdExO.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
