@font-face {
  font-family: $font-title;
  src: url($font-directory + 'monument/monumentextended-ultrabold.woff2') format('woff2'),
  url($font-directory + 'monument/monumentextended-ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: $font-title;
  src: url($font-directory + 'monument/monumentextended-regular.woff2') format('woff2'),
  url($font-directory + 'monument/monumentextended-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: $font-regular;
  src: url($font-directory + 'helvetica/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
      url($font-directory + 'helvetica/HelveticaNeueLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: $font-regular;
  src: url($font-directory + 'helvetica/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
      url($font-directory + 'helvetica/HelveticaNeueLTStd-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
