html {
  font-size: 16px;
}

body {
  font-style: normal;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  background: $greige;
  height:100vh;
  color: $white;
  overflow: hidden;
  font-family: $font-regular, Arial, Helvetica, sans-serif;
  margin:0;
  width:100vw;
}
@include phone {
  body {
    overflow: auto;
    height:auto;
  }
}
* {
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

p {
  font-weight: 400;
  margin:0;
}

input,
button {
  &:hover,
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
  outline: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

a:hover {
  text-decoration:none;
}

div {
  display: block;
}