// .slide-top-enter-active, .slide-top-leave-active, .picture-slide-enter-active, .picture-slide-leave-active

[class*="slide-"] {
  transition: transform $easing;
}

[class*="picture-slide-"] {
  transition: transform $easing $cbezier1;
}

.slide-top-enter-active, .slide-bottom-enter-active {
  transition-delay: .3s;
}

// ----------------------

.fade-galery-enter-active,
.fade-galery-leave-active {
  transition: transform $easing;
}

.fade-galery-enter {
  transform: translateY(100%);
}
.fade-galery-enter-to {
  transform: translateY(0);
}
.fade-galery-leave-to,
.fade-galery-leave {
  transform: translateY(100%);
}

// -----------------------

.fade-project-leave,
.fade-project-leave-to {
  transition-delay: $easing;
}

// ----------------------

.slide-top-enter-active,
.slide-top-leave-active {
  transition: transform $easing, opacity $easing;
}


.slide-top-enter {
  transform: translateY(100%);
}
.slide-top-enter-to {
  transform: translateY(0);
}
.slide-top-leave-to,
.slide-top-leave {
  transform: translateY(-100%);
}

.slide-bottom-enter {
  transform: translateY(-100%);
}
.slide-bottom-enter-to {
  transform: translateY(0);
}
.slide-bottom-leave-to,
.slide-bottom-leave {
  transform: translateY(100%);
}
