// .slide-top-enter-active, .slide-top-leave-active, .picture-slide-enter-active, .picture-slide-leave-active

[class*="slide-"],
[class*="picture-slide-"] {
  transition: transform 1s;
}

.slide-top-enter-active, .slide-bottom-enter-active {
  transition-delay: .3s;
}

// ----------------------

.slide-top-enter {
  transform: translateY(100%);
}
.slide-top-enter-to {
  transform: translateY(0);
}
.slide-top-leave-to,
.slide-top-leave {
  transform: translateY(-100%);
}

.slide-bottom-enter {
  transform: translateY(-100%);
}
.slide-bottom-enter-to {
  transform: translateY(0);
}
.slide-bottom-leave-to,
.slide-bottom-leave {
  transform: translateY(100%);
}

// ----------------------

.picture-slide-top-enter {
  transform: translateY(100%);
}
.picture-slide-top-leave-to,
.picture-slide-top-leave {
  transform: translateY(0);
}

.picture-slide-bottom-enter {
  transform: translateY(-100%);
}
.picture-slide-bottom-leave-to,
.picture-slide-bottom-leave {
  transform: translateY(0);
}
