[class*="title-"] {
  transition: transform $easing;
}

[class*="profil-picture-"] {
  transition: transform $easing / 2, opacity $easing / 2;
}

.title-top-enter-active, 
.title-bottom-enter-active {
  transition-delay: .3s;
}

// ----------------------

.profil-picture-enter {
  transform: translateY(15%) rotate(0deg) !important;
  opacity: 0;
}
.profil-picture-enter-to {
  transform: translateY(0) rotate(5deg) !important;
  opacity: 1;
}
.profil-picture-leave-to,
.profil-picture-leave {
  transform: translateY(-15%) rotate(10deg) !important;
  opacity: 0;
}

// ----------------------

.galery-picture-top-enter {
  transform: translateY(calc(100vh - #{image-height(0.5)})) rotate(-#{map-get($image, rotation)});
}

.galery-picture-top-enter-to {
  transition: transform $easing $cbezier1;
  transform: translateY(0vh) rotate(#{map-get($image, rotation)});
}

.galery-picture-top-leave-to,
.galery-picture-top-leave {
  transition: transform $easing $cbezier1;
  transform: translateY(calc(-100vh - #{image-height(0.5)})) rotate(-#{map-get($image, rotation)});
}

.galery-picture-bottom-enter {
  transform: translateY(calc(-100vh - #{image-height(0.5)})) rotate(-#{map-get($image, rotation)});
}

.galery-picture-bottom-enter-to {
  transition: transform $easing $cbezier1;
  transform: translateY(0vh) rotate(#{map-get($image, rotation)});
}

.galery-picture-bottom-leave-to,
.galery-picture-bottom-leave {
  transition: transform $easing $cbezier1;
  transform: translateY(calc(100vh - #{image-height(0.5)})) rotate(-#{map-get($image, rotation)});
}
// -----------------------

.fade-project-leave,
.fade-project-leave-to {
  transition-delay: $easing;
}

// ----------------------

.title-top-enter {
  transform: translateY(100%);
}
.title-top-enter-to {
  transform: translateY(0);
}
.title-top-leave-to,
.title-top-leave {
  transform: translateY(-100%);
}

.title-bottom-enter {
  transform: translateY(-100%);
}
.title-bottom-enter-to {
  transform: translateY(0);
}
.title-bottom-leave-to,
.title-bottom-leave {
  transform: translateY(100%);
}
